In [23]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [9]:
file = 'FanDuel-NFL-2018-11-04-29518-players-list.csv'

In [10]:
raw = pd.read_csv(file)
raw.fillna(0, inplace=True)
df = raw.loc[:, 'Position':'Injury Details']

In [11]:
# raw[raw['Injury Indicator'] != 0]
df.Position.unique()

array(['RB', 'QB', 'WR', 'TE', 'D'], dtype=object)

In [58]:
'''
Salary percentages by position - 50/50, GPP
qb - 16.5, 15.8 * 1
rb - 24.9, 24.7 * 2
wr - 24.4, 24.5 * 3
te - 10.0, 10.5 * 1
flex - 10.7, 10.5 * 1 (create by removing chosen rbs, wrs and tes and select from remaining players)
d - 7.0, 7.5 * 1
k - 6.5, 6.5 * 0 (for fanduel)
-do your own research on these numbers later with reverse engineering most successful lineups
-remove lines where players are on opposing teams
'''
print(15.8+24.7+24.5+10.5+10.5+7.5)
df[df['Injury Indicator']==0].describe()

93.5

             FPPG      Played        Salary
count  374.000000  374.000000    374.000000
mean     5.185353    4.299465   5151.871658
std      6.105420    3.073915   1258.423297
min     -2.000000    0.000000   3000.000000
25%      0.125000    1.000000   4500.000000
50%      3.006667    5.000000   4500.000000
75%      8.037500    7.000000   6000.000000
max     28.075001   15.000000  11200.000000

In [13]:
# remove injured players
print(df.shape)
df = df[df['Injury Indicator'] == 0]
df.shape

(415, 12)

(374, 12)

In [14]:
qbs = df[df['Position']=='QB'].sort_values('FPPG', ascending=False)
rbs = df[df['Position']=='RB'].sort_values('FPPG', ascending=False)
wrs = df[df['Position']=='WR'].sort_values('FPPG', ascending=False)
tes = df[df['Position']=='TE'].sort_values('FPPG', ascending=False)
ds = df[df['Position']=='D'].sort_values('FPPG', ascending=False)
# loop through and make a dictionary of all of these? dict comprehension?

In [57]:
print('qbs', qbs.shape)
print('rbs', rbs.shape)
print('wrs', wrs.shape)
print('tes', tes.shape)
print('ds', ds.shape)
print(56*86*86*129*129*129*83*20)
print(qbs.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean() )
print(rbs.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean() * 2)
print(wrs.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean() * 3)
print(tes.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean())
print(ds.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean())
20 + 27 + 44 + 7 + 7 + 14
7/120

qbs (56, 12)
rbs (86, 12)
wrs (129, 12)
tes (83, 12)
ds (20, 12)
1475917725018240
20.039583412806188
27.354166668937324
44.198767927714755
7.316874924160186
7.394642857142857

0.058333333333333334

In [19]:
print(rbs.shape)
rbs.tail()

(86, 12)

,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details
221,RB,Detrez,Detrez Newsome,Newsome,0.0,1,4500,LAC@SEA,LAC,SEA,0,0
258,RB,Boston,Boston Scott,Scott,0.0,0,4500,LAR@NO,NO,LAR,0,0
224,RB,Taquan,Taquan Mizzell,Mizzell,0.0,0,4500,CHI@BUF,CHI,BUF,0,0
225,RB,Christopher,Christopher Ezeala,Ezeala,0.0,0,4500,PIT@BAL,BAL,PIT,0,0
331,RB,John,John Kelly,Kelly,0.0,0,4500,LAR@NO,LAR,NO,0,0

In [26]:
rb_combos = pd.DataFrame(columns=['Player1', 'Player2', 'Combined_FPPG', 'Combined_Salary', 'points_per_dollar'])
index = 0
# turn these into generators, write a function to pass to generator
for i in range(rbs.shape[0]):
    p1 = rbs.iloc[i]
    for j in range(i+1, rbs.shape[0]):
        p2 = rbs.iloc[j]
#         print(p1.Nickname, p2.Nickname, index)
        rb_combos.loc[index, 'Player1'] = p1['Nickname']
        rb_combos.loc[index, 'Player2'] = p2['Nickname']
        rb_combos.loc[index, 'Combined_FPPG'] = p1['FPPG'] + p2['FPPG']
        rb_combos.loc[index, 'Combined_Salary'] = p1['Salary'] + p2['Salary']
        rb_combos.loc[index, 'points_per_dollar'] = rb_combos.loc[index, 'Combined_FPPG'] / rb_combos.loc[index, 'Combined_Salary']
        index += 1
# rb_combos.head(50).sort_values('Player1')

In [27]:
"output"

'output'

In [28]:
# underscore takes output of previous cell
_ + ' concatenated'

'output concatenated'

In [38]:
# rb_combos.head(500).sort_values('points_per_dollar', ascending=False)
# rb_combos[rb_combos['Combined_Salary'] <= 15000].shape #.sort_values('points_per_dollar', ascending=False)
rb_combos.shape

(3655, 5)

In [14]:
print(wrs.shape)
wrs.head().sort_values('FPPG', ascending=False)

(129, 12)

,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details
2,WR,Adam,Adam Thielen,Thielen,20.625000,8,8900,DET@MIN,MIN,DET,0,0
21,WR,Tyreek,Tyreek Hill,Hill,18.125000,8,7800,KC@CLE,KC,CLE,0,0
3,WR,Antonio,Antonio Brown,Brown,18.028571,7,8800,PIT@BAL,PIT,BAL,0,0
19,WR,Mike,Mike Evans,Evans,17.428571,7,7900,TB@CAR,TB,CAR,0,0
4,WR,DeAndre,DeAndre Hopkins,Hopkins,17.337500,8,8600,HOU@DEN,HOU,DEN,0,0

In [1]:
wr_combos = pd.DataFrame(columns=['wr1', 'wr2', 'wr3', 'wr_combined_FPPG', 'wr_combined_salary'])
wr_index = 0
# turn these into generators, write a function to pass to generator?
# for i in range(wrs.shape[0]):
#     wr1 = wrs.iloc[i]
#     for j in range(i+1, wrs.shape[0]):
#         wr2 = wrs.iloc[j]
#         for k in range(j+1, wrs.shape[0]):
#             wr3 = wrs.iloc[k]
#             wr_combos.loc[wr_index, 'wr1'] = wr1['Nickname']
#             wr_combos.loc[wr_index, 'wr2'] = wr2['Nickname']
#             wr_combos.loc[wr_index, 'wr3'] = wr3['Nickname']
#             wr_combos.loc[wr_index, 'wr_combined_FPPG'] = wr1['FPPG'] + wr2['FPPG'] + wr3['FPPG']
#             wr_combos.loc[wr_index, 'wr_combined_salary'] = wr1['Salary'] + wr2['Salary'] + wr3['Salary']
#             wr_index += 1
#             if wr_index % 1000 == 0:
#                 print(wr_index)

NameError: name 'pd' is not defined

In [15]:
# wr_combos.shape

2146689