In [59]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [60]:
file = 'FanDuel-NFL-2018-11-04-29518-players-list.csv'

In [61]:
raw = pd.read_csv(file)
raw.fillna(0, inplace=True)
df = raw.loc[:, 'Position':'Injury Details']

In [62]:
# raw[raw['Injury Indicator'] != 0]
df.Position.unique()

array(['RB', 'QB', 'WR', 'TE', 'D'], dtype=object)

In [63]:
'''
Salary percentages by position - 50/50, GPP
qb - 16.5, 15.8 * 1
rb - 24.9, 24.7 * 2
wr - 24.4, 24.5 * 3
te - 10.0, 10.5 * 1
flex - 10.7, 10.5 * 1 (create by removing chosen rbs, wrs and tes and select from remaining players)
d - 7.0, 7.5 * 1
k - 6.5, 6.5 * 0 (for fanduel)
-do your own research on these numbers later with reverse engineering most successful lineups
-remove lines where players are on opposing teams
'''
print(15.8+24.7+24.5+10.5+10.5+7.5)
df[df['Injury Indicator']==0].describe()

93.5

             FPPG      Played        Salary
count  374.000000  374.000000    374.000000
mean     5.185353    4.299465   5151.871658
std      6.105420    3.073915   1258.423297
min     -2.000000    0.000000   3000.000000
25%      0.125000    1.000000   4500.000000
50%      3.006667    5.000000   4500.000000
75%      8.037500    7.000000   6000.000000
max     28.075001   15.000000  11200.000000

In [13]:
# remove injured players
print(df.shape)
df = df[df['Injury Indicator'] == 0]
df.shape

(415, 12)

(374, 12)

In [14]:
qbs = df[df['Position']=='QB'].sort_values('FPPG', ascending=False)
rbs = df[df['Position']=='RB'].sort_values('FPPG', ascending=False)
wrs = df[df['Position']=='WR'].sort_values('FPPG', ascending=False)
tes = df[df['Position']=='TE'].sort_values('FPPG', ascending=False)
ds = df[df['Position']=='D'].sort_values('FPPG', ascending=False)
# loop through and make a dictionary of all of these? dict comprehension?

In [81]:
print('qbs', qbs.shape)
print('rbs', rbs.shape)
print('wrs', wrs.shape)
print('tes', tes.shape)
print('ds', ds.shape)
print(56*86*86*129*129*129*83*20)
print(qbs.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean() )
print(rbs.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean() )
print(wrs.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean() )
print(tes.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean())
print(ds.sort_values('Salary', ascending=False).iloc[:20]['FPPG'].mean())
20 + 27 + 44 + 7 + 7 + 14
print(16.67+22.8+36.8+11.67+6.125+6.125)
16.67*60000
qbs['value'] = qbs['FPPG']/qbs['Salary']
qbs['val2'] = qbs['Salary']/qbs['FPPG']
qbs.sort_values('val2', ascending=True)

qbs (56, 14)
rbs (86, 12)
wrs (129, 12)
tes (83, 12)
ds (20, 12)
1475917725018240
20.039583412806188
13.677083334468662
14.732922642571584
7.316874924160186
7.394642857142857
100.19

,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,value,val2
88,QB,Jake,Jake Rudock,Rudock,-0.040000,1,6000,DET@MIN,DET,MIN,0,0,-0.000007,-1.500000e+05
80,QB,Chad,Chad Kelly,Kelly,-0.100000,1,6000,HOU@DEN,DEN,HOU,0,0,-0.000017,-6.000000e+04
93,QB,Brandon,Brandon Weeden,Weeden,-0.100000,1,6000,HOU@DEN,HOU,DEN,0,0,-0.000017,-6.000000e+04
94,QB,Joshua,Joshua Dobbs,Dobbs,-0.200000,2,6000,PIT@BAL,PIT,BAL,0,0,-0.000033,-3.000000e+04
101,QB,Chase,Chase Daniel,Daniel,-0.200000,1,6000,CHI@BUF,CHI,BUF,0,0,-0.000033,-3.000000e+04
103,QB,Chad,Chad Henne,Henne,-0.250000,2,6000,KC@CLE,KC,CLE,0,0,-0.000042,-2.400000e+04
96,QB,Teddy,Teddy Bridgewater,Bridgewater,-0.300000,1,6000,LAR@NO,NO,LAR,0,0,-0.000050,-2.000000e+04
100,QB,Matt,Matt Cassel,Cassel,-0.540000,1,6000,DET@MIN,DET,MIN,0,0,-0.000090,-1.111111e+04
82,QB,Tyler,Tyler Bray,Bray,-2.000000,1,6000,CHI@BUF,CHI,BUF,0,0,-0.000333,-3.000000e+03
40,QB,Ryan,Ryan Fitzpatrick,Fitzpatrick,25.000000,5,7100,TB@CAR,TB,CAR,0,0,0.003521,2.840000e+02
23,QB,Mitchell,Mitchell Trubisky,Trubisky,23.451429,7,7800,CHI@BUF,CHI,BUF,0,0,0.003007,3.326023e+02
13,QB,Matt,Matt Ryan,Ryan,24.585715,7,8200,ATL@WAS,ATL,WAS,0,0,0.002998,3.335270e+02
1,QB,Patrick,Patrick Mahomes,Mahomes,27.867500,8,9500,KC@CLE,KC,CLE,0,0,0.002933,3.408989e+02
6,QB,Cam,Cam Newton,Newton,24.677144,7,8600,TB@CAR,CAR,TB,0,0,0.002869,3.485006e+02
22,QB,Ben,Ben Roethlisberger,Roethlisberger,21.914285,7,7800,PIT@BAL,PIT,BAL,0,0,0.002810,3.559322e+02
102,QB,Josh,Josh McCown,McCown,16.495385,13,6000,NYJ@MIA,NYJ,MIA,0,0,0.002749,3.637381e+02
39,QB,Jameis,Jameis Winston,Winston,19.035000,4,7100,TB@CAR,TB,CAR,0,0,0.002681,3.729971e+02
17,QB,Philip,Philip Rivers,Rivers,21.317143,7,8000,LAC@SEA,LAC,SEA,0,0,0.002665,3.752848e+02
18,QB,Deshaun,Deshaun Watson,Watson,20.629999,8,7900,HOU@DEN,HOU,DEN,0,0,0.002611,3.829375e+02
10,QB,Drew,Drew Brees,Brees,21.442858,7,8400,LAR@NO,NO,LAR,0,0,0.002553,3.917388e+02
12,QB,Kirk,Kirk Cousins,Cousins,21.129999,8,8300,DET@MIN,MIN,DET,0,0,0.002546,3.928065e+02
11,QB,Jared,Jared Goff,Goff,21.275000,8,8400,LAR@NO,LAR,NO,0,0,0.002533,3.948296e+02
35,QB,Matthew,Matthew Stafford,Stafford,18.111428,7,7300,DET@MIN,DET,MIN,0,0,0.002481,4.030604e+02
81,QB,Tyrod,Tyrod Taylor,Taylor,14.326667,3,6000,KC@CLE,CLE,KC,0,0,0.002388,4.187994e+02
24,QB,Russell,Russell Wilson,Wilson,18.277143,7,7700,LAC@SEA,SEA,LAC,0,0,0.002374,4.212912e+02
48,QB,Brock,Brock Osweiler,Osweiler,15.125000,4,6700,NYJ@MIA,MIA,NYJ,0,0,0.002257,4.429752e+02
28,QB,Joe,Joe Flacco,Flacco,16.857500,8,7500,PIT@BAL,BAL,PIT,0,0,0.002248,4.449058e+02
43,QB,Case,Case Keenum,Keenum,15.237500,8,6800,HOU@DEN,DEN,HOU,0,0,0.002241,4.462674e+02
106,QB,Trevor,Trevor Siemian,Siemian,12.736364,11,6000,DET@MIN,MIN,DET,0,0,0.002123,4.710921e+02
31,QB,Baker,Baker Mayfield,Mayfield,15.656667,6,7400,KC@CLE,CLE,KC,0,0,0.002116,4.726421e+02
45,QB,Sam,Sam Darnold,Darnold,14.037500,8,6700,NYJ@MIA,NYJ,MIA,0,0,0.002095,4.772930e+02
85,QB,Brett,Brett Hundley,Hundley,12.358182,11,6000,LAC@SEA,SEA,LAC,0,0,0.002060,4.855083e+02
30,QB,Alex,Alex Smith,Smith,15.162857,7,7500,ATL@WAS,WAS,ATL,0,0,0.002022,4.946297e+02
99,QB,Drew,Drew Stanton,Stanton,11.092000,5,6000,KC@CLE,CLE,KC,0,0,0.001849,5.409304e+02
112,QB,David,David Fales,Fales,10.200000,2,6000,NYJ@MIA,MIA,NYJ,0,0,0.001700,5.882353e+02
79,QB,Kevin,Kevin Hogan,Hogan,9.695000,4,6000,HOU@DEN,DEN,HOU,0,0,0.001616,6.188757e+02
76,QB,Taysom,Taysom Hill,Hill,3.260000,6,6100,LAR@NO,NO,LAR,0,0,0.000534,1.871166e+03
72,QB,Lamar,Lamar Jackson,Jackson,3.237500,8,6200,PIT@BAL,BAL,PIT,0,0,0.000522,1.915058e+03
89,QB,Joe,Joe Webb III,Webb III,2.900000,2,6000,HOU@DEN,HOU,DEN,0,0,0.000483,2.068965e+03
114,QB,Nathan,Nathan Peterman,Peterman,1.540000,3,5900,CHI@BUF,BUF,CHI,0,0,0.000261,3.831169e+03
83,QB,Taylor,Taylor Heinicke,Heinicke,0.320000,1,6000,TB@CAR,CAR,TB,0,0,0.000053,1.875000e+04
98,QB,Matt,Matt Schaub,Schaub,0.300000,2,6000,ATL@WAS,ATL,WAS,0,0,0.000050,2.000000e+04
105,QB,Sean,Sean Mannion,Mannion,0.100000,1,6000,LAR@NO,LAR,NO,0,0,0.000017,6.000000e+04
109,QB,Geno,Geno Smith,Smith,0.010000,2,6000,LAC@SEA,LAC,SEA,0,0,0.000002,6.000000e+05
91,QB,Robert,Robert Griffin III,Griffin III,0.000000,0,6000,PIT@BAL,BAL,PIT,0,0,0.000000,inf
92,QB,Brandon,Brandon Allen,Allen,0.000000,0,6000,LAR@NO,LAR,NO,0,0,0.000000,inf
84,QB,Kurt,Kurt Benkert,Benkert,0.000000,0,6000,ATL@WAS,ATL,WAS,0,0,0.000000,inf
87,QB,Colt,Colt McCoy,McCoy,0.000000,0,6000,ATL@WAS,WAS,ATL,0,0,0.000000,inf
104,QB,Chase,Chase Litton,Litton,0.000000,0,6000,KC@CLE,KC,CLE,0,0,0.000000,inf
86,QB,Alex,Alex McGough,McGough,0.000000,0,6000,LAC@SEA,SEA,LAC,0,0,0.000000,inf
107,QB,Cardale,Cardale Jones,Jones,0.000000,0,6000,LAC@SEA,LAC,SEA,0,0,0.000000,inf
108,QB,Kyle,Kyle Sloter,Sloter,0.000000,0,6000,DET@MIN,MIN,DET,0,0,0.000000,inf
110,QB,Davis,Davis Webb,Webb,0.000000,0,6000,NYJ@MIA,NYJ,MIA,0,0,0.000000,inf
111,QB,Ryan,Ryan Griffin,Griffin,0.000000,0,6000,TB@CAR,TB,CAR,0,0,0.000000,inf
97,QB,Connor,Connor Cook,Cook,0.000000,0,6000,TB@CAR,CAR,TB,0,0,0.000000,inf
95,QB,Mason,Mason Rudolph,Rudolph,0.000000,0,6000,PIT@BAL,PIT,BAL,0,0,0.000000,inf

In [19]:
print(rbs.shape)
rbs.tail()

(86, 12)

,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details
221,RB,Detrez,Detrez Newsome,Newsome,0.0,1,4500,LAC@SEA,LAC,SEA,0,0
258,RB,Boston,Boston Scott,Scott,0.0,0,4500,LAR@NO,NO,LAR,0,0
224,RB,Taquan,Taquan Mizzell,Mizzell,0.0,0,4500,CHI@BUF,CHI,BUF,0,0
225,RB,Christopher,Christopher Ezeala,Ezeala,0.0,0,4500,PIT@BAL,BAL,PIT,0,0
331,RB,John,John Kelly,Kelly,0.0,0,4500,LAR@NO,LAR,NO,0,0

In [26]:
rb_combos = pd.DataFrame(columns=['Player1', 'Player2', 'Combined_FPPG', 'Combined_Salary', 'points_per_dollar'])
index = 0
# turn these into generators, write a function to pass to generator
for i in range(rbs.shape[0]):
    p1 = rbs.iloc[i]
    for j in range(i+1, rbs.shape[0]):
        p2 = rbs.iloc[j]
#         print(p1.Nickname, p2.Nickname, index)
        rb_combos.loc[index, 'Player1'] = p1['Nickname']
        rb_combos.loc[index, 'Player2'] = p2['Nickname']
        rb_combos.loc[index, 'Combined_FPPG'] = p1['FPPG'] + p2['FPPG']
        rb_combos.loc[index, 'Combined_Salary'] = p1['Salary'] + p2['Salary']
        rb_combos.loc[index, 'points_per_dollar'] = rb_combos.loc[index, 'Combined_FPPG'] / rb_combos.loc[index, 'Combined_Salary']
        index += 1
# rb_combos.head(50).sort_values('Player1')

In [27]:
"output"

'output'

In [28]:
# underscore takes output of previous cell
_ + ' concatenated'

'output concatenated'

In [38]:
# rb_combos.head(500).sort_values('points_per_dollar', ascending=False)
# rb_combos[rb_combos['Combined_Salary'] <= 15000].shape #.sort_values('points_per_dollar', ascending=False)
rb_combos.shape

(3655, 5)

In [14]:
print(wrs.shape)
wrs.head().sort_values('FPPG', ascending=False)

(129, 12)

,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details
2,WR,Adam,Adam Thielen,Thielen,20.625000,8,8900,DET@MIN,MIN,DET,0,0
21,WR,Tyreek,Tyreek Hill,Hill,18.125000,8,7800,KC@CLE,KC,CLE,0,0
3,WR,Antonio,Antonio Brown,Brown,18.028571,7,8800,PIT@BAL,PIT,BAL,0,0
19,WR,Mike,Mike Evans,Evans,17.428571,7,7900,TB@CAR,TB,CAR,0,0
4,WR,DeAndre,DeAndre Hopkins,Hopkins,17.337500,8,8600,HOU@DEN,HOU,DEN,0,0

In [86]:
wr_combos = pd.DataFrame(columns=['wr1', 'wr2', 'wr3', 'wr_combined_FPPG', 'wr_combined_salary'])
wr_index = 0
# turn these into generators, write a function to pass to generator?
# for i in range(wrs.shape[0]):
#     wr1 = wrs.iloc[i]
#     for j in range(i+1, wrs.shape[0]):
#         wr2 = wrs.iloc[j]
#         for k in range(j+1, wrs.shape[0]):
#             wr3 = wrs.iloc[k]
#             wr_combos.loc[wr_index, 'wr1'] = wr1['Nickname']
#             wr_combos.loc[wr_index, 'wr2'] = wr2['Nickname']
#             wr_combos.loc[wr_index, 'wr3'] = wr3['Nickname']
#             wr_combos.loc[wr_index, 'wr_combined_FPPG'] = wr1['FPPG'] + wr2['FPPG'] + wr3['FPPG']
#             wr_combos.loc[wr_index, 'wr_combined_salary'] = wr1['Salary'] + wr2['Salary'] + wr3['Salary']
#             wr_index += 1
#             if wr_index % 1000 == 0:
#                 print(wr_index)

In [15]:
# wr_combos.shape

2146689

416101943581900800

416101943.5819008

115583.87321719466

4815.994717383111